*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:  'poppins ',sans-serif;
    
   
}



.container{

    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 50px 1%;
    margin-right: 10px;
    
}

.gallary{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    grid-gap: 30px;
   
    
    
}

.gallary img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1.5;
  
    
}


.button button{
    padding: 20px 40px;
  display: inline-block;
  cursor: pointer;
  background: #C1B086;
  color: white;
 
  margin: 50px 0 20px 50px;
  
  border-radius: 50px;
    
    }